/* Font connection */

@font-face {
  font-family: 'Jaapokkisubtract';
  Jaapokkisubtract src: url('../fonts/Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/JaapokkisubtractRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/JaapokkisubtractRegular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/JaapokkisubtractRegular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/JaapokkisubtractRegular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/JaapokkisubtractRegular#svgFontName') format('svg');
  /* Legacy iOS */
}


/* Specification */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #0001c5;
  letter-spacing: 0.06em;
}
div, p, span, a, input, button{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jaapokkisubtract', sans-serif;
  letter-spacing: 0.14;
  font-weight: normal;
}

.jpk-font {
  font-family: 'Jaapokkisubtract', sans-serif;
}

/* End of specification */
.container {
  margin: 0 7%;
  position: relative;
}

/* Beginning header section */
.header {
  background: url(../img/first_bg.jpg) no-repeat center bottom / cover;
  color: #fff;
  height: 100vh;
}

.header .container {
  height: 100vh;
}

.logo {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  color: #0000a0;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 8%;
  transition: all 0.3s ease;
  padding-top: 2px;
}

.logo:hover {
  border-radius: 25px;
}

.becreative {
  background-color: #fff;
  font-size: 18px;
  color: #0304b9;
  height: 288px;
  width: 41px;
  padding: 10px 15px;
  position: absolute;
  left: 61%;
  top: 0;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;

  z-index: 2;
}

.hamburger-menu {
  width: 40px; /* Ширина найдовшої полоски*/
  position: absolute;
  right: 0;
  top: 8%; /* Розміщення ТОП аналогічне, як і в ЛОГО*/
  float: right;
  cursor: pointer;
}

.hamburger-menu span {
  background-color: #fff;
  display: block;
  height: 2px;/* Висота однієї палички*/
  margin-bottom: 6px;/* Відстань між палочками*/
  float: right;
  width: 100%;
  transition: all 1s ease;
}

.hamburger-menu:hover span{
  float: left;
}

.hamburger-menu span:nth-child(1) {

}

.hamburger-menu span:nth-child(2) {
  width: 75%;
}

.hamburger-menu span:nth-child(3) {
  width: 50%;
}

.offer {
  position: absolute;
  left: 0;
  top: 12%;
  /* z-index: 1; */
}

.offer__bg {
  font-size: 300px;
  color: #1b1cc4;

}

.offer__title {
  font-size: 55px;
  position: relative;
  width: 561px;
}

.offer__title:after { /* Паличка */
  content: '';
  display: block;
  background-color: #fff;
  width: 29px;
  height: 5px;
  position: absolute;
  top: -20px;
  right: 180px;
}






/* End of header section */